.pagination{
all:inherit;
}
button{
all:initial;
}
.pagination:before, .pagination:after{
background-color:white;
}

.scale ins{
background:white;
}
.ui.column.grid>[class*="four wide"].column, .ui.grid>.column.row>[class*="four wide"].column, .ui.grid>.row>[class*="four wide"].column, .ui.grid>[class*="four wide"].column{
width:34%!important;
}
.ui.grid.stackable{
margin-bottom:10%
}

#countryinfo{
margin-top:5%
}



.leaflet-tooltip{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
 @page {
   size: landscape;
   margin: 9mm 0mm 0mm 16.5mm;  
    }

    
  @media print{
  	#map{
  		top: 15%;
  	}

  }


#mapcontainer{
display:none;
}
#datatablecontainer{
display:none;
}

#buttons_country{
	margin-bottom: 20px;
	float: right;
}

#mapaspdf{
display: none;
}

#countryinfo{
display: none;
}

td{
  background-color: #00B5AD!important;
}
